<li class="post-form">
  <div class="collapsible-header" style="flex-direction: column;">
    <%= question.title %>
    <br>
    <span class="question-info">Post di:
      <%= question.user.username %>
      inserito il
      <%= question.created_at.strftime("%d/%m/%Y") %></span>
  </div>
  <div class="collapsible-body answers-container">
    <div class="">
      <p ><%= question.text %></p>
    </div>
    <% question.answers.order(created_at: :asc).each do |a| %>
      <%= render "answers/answer_card", answer: a %>
  <% end %>
  <div class=" form-card-<%= question.id %>-answer">
    <%= render "answers/answer_form", race: race, question: question %>
</div>
</div>
</li>
