<div class="card card-box-review ">
  <div class="row row-review-box">
    <div class="col s12 m12 l2">
      <div class="user-review-box">
        <% if review.user.facebook_picture_url %>
          <div class="review-avatar" style="background-image: url('<%= review.user.facebook_picture_url %>')"></div>
        <% else %>
          <div class="review-avatar-no-fb my-2"></div>
        <% end %>
        <div class="">
          <p><%= review.user.username %></p>
          <p class="review-date"><%= review.user.reviews.count %>
            recensioni</p>
        </div>
      </div>
    </div>
    <div class="col l10 review-col">
      <div class="row row-review-details">
        <div class="col l3 s6">
          <div class="star-display mb-0 ">
            <p class="mb-0 review-text">Organizzazione</p>
            <% review.organization_rating.times do %>
            <i class="small star-review rating-star material-icons">star</i>
            <% end %>
          </div>

        </div>
        <div class="col l3 s6">
          <div class=" star-display mb-0 ">
            <p class="mb-0 review-text">Percorso</p>
            <% review.path_rating.times do %>
            <i class="small star-review rating-star material-icons">star</i>
            <% end %>
          </div>

        </div>
        <div class="col l3 s6">
          <div class=" star-display mb-0 ">
            <p class="mb-0 review-text">Qualità prezzo</p>
            <% review.quality_price_rating.times do %>
            <i class="small star-review rating-star material-icons">star</i>
            <% end %>
          </div>

        </div>
        <div class="col l3 s6">
          <div class=" star-display mb-0 ">
            <p class="mb-0 review-text">Difficoltà</p>
            <% review.difficulty.times do %>
            <i class="small star-review rating-star material-icons">star</i>
            <% end %>
          </div>

        </div>

      </div>
      <h6 class="mt-3"><%= review.title%></h6>
      <p class="review-text">
        <%= review.text%></p>
        <p class="review-date">Creata il:<%= review.created_at.strftime("%d/%m/%Y") %></p>

    </div>

  </div>
</div>
